<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Yourkart</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>


<form [formGroup]="searchForm">
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input formControlName="searchField" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

    </mat-form-field>
</form>


<div class="flex  xs:flex-col">
    <div class="flex flex-row" *ngFor="let item of filteredItems; let i = index">
      <div>
        <div (click)="openImage(item.image)" class="cursor-pointer">
          <img class="w-24 h-24 m-1" [src]="'assets/' + item.image" alt="{{ item.text }}">
        </div>
        <div>
          <span>{{ item.text }}</span>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  